<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BodeulApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bodeul"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.PermissionGuideActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingFollowUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingPaymentApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingLocationSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingHospitalSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManagerSupportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManagerDocumentRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManagerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManagerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManagerGuideActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.report.GuardianReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manager.ManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ProfileCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="${kakaoScheme}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
